<html>
  <head>
    <title> Cool Website</title>
  </head>
  <body>
    <form action="/table">
      True symbol:<input type='text' name='true'/><br>
      False symbol:<input type='text' name='false'/><br>
      Size (2^x):<input type='text' name='size'/><br>
      <input type='submit' value='Show truth table'/>
    </form>  
    <a href="/b">Reload Page</a>
  </body>
</html>
